<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse float-left  navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-fill">
                        <a class="nav-link  active border-bottom" href="/">Dashboard <span class="sr-only">(current)</span></a>
                        @*<a class="nav-link  " href="#">Nav Item</a>
                        <a class="nav-link" href="#">Nav Item</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Nav Item</a>*@
                    </div>

                </div>

                <!--Login/Logout-->
                @*<div>
                    <partial name="_LoginPartial" />
                </div>*@

            </div>
        </nav>
    </header>
    <div class="container pt-4 pb-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MOHAMMED ALJOHANI 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
