@page "{id?}"
@model EmployeesModel
@{
}
<nav aria-label="breadcrumb w-100">
    <ol class="breadcrumb row rounded-0 ">
        <li class="breadcrumb-item"><a asp-page="/Index">My Businesses</a></li>
        <li class="breadcrumb-item"><a asp-page="BusinessHome" asp-route-id="@Model.viewContent.BusnissId">@Model.viewContent.BusinessName</a></li>
        <li class="breadcrumb-item"><a asp-page="BranchHome" asp-route-id="@Model.viewContent.BranchId">@Model.viewContent.BranchName</a></li>
        <li class="breadcrumb-item active">Employees</li>
    </ol>
</nav>
<!--Add Employees-->
<div class="row justify-content-center">
    <div class="card rounded-top shadow w-100">
        <div class="card-header border-bottom-0 display-5 text-center">
            Employees
        </div>

        <a class="btn btn-dark text-light rounded-0 align-bottom w-100" style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">Add New</a>

        <div class="card-body">
            <table class="table  table-borderless">
                <tbody>
                    <tr class="border-bottom">
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Add Employee Item-->
